.the_nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(20, 100, 203);
    height: 50px;
}

// .project_buttion{
//     display: flex;
//     flex-direction: column;
// }

// .project_buttion button{
//     margin: 5px;
// }
.main-hall-task-text{
    line-height: 1.5;

}
.main-hall-task-text-new{
    line-height: 1.5;
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
}
// .main-hall-task-text p{
//         /* display: flex; */
//         text-align: justify;
//         /* margin: 0px auto; */
//         width: 70vw;

// }
.open_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
    color: white;
    width: 100%;
    height: 100%;

}
    
.open_bar img{
padding-right: 20px;
}

.nav-buttion-sub{
    // background-color: aqua;
    display: flex;
    justify-content: space-between;
    margin: 2% 0;
    // padding: 0px 20px 20px 5px;
}

.nav-con-top{
    background-color: white;
    padding: 20px;

}
.togle_course{
    display: none;
}
.togle_subject{
    display: none;
}



.open_bar:hover {
    opacity: 1.5;
    background: darkblue;
}

.open_bar:hover * {
    opacity: 1.5;
    background: darkblue;
}

nav.the_nav:hover * {
    opacity: 1;
}


.color-white-subjects-in-course {
    width: 100%;
    border: none;
    color: #878787;
    background: #dedede;
    padding: 15px 10px 15px 20px;
    display: flex;
    justify-content: start;

}
    
.color-white-subjects-in-course:hover{
 color: black;

}