/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 .task-body{
     display: none;
 }
 .task-body-click{

 }

.col {
    display: flex;
    flex-direction: column;
}
.col button {
    background: rgb(222, 222, 222);
    padding: 15px 10px 15px 20px;
    width: 100%;
}

body , html{
    size: 100%
}

/* .hero{
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 1200px;
} */
.hero{
    background-image: image-url("main2.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2%;
}
/* .hero::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgb(12, 11, 11) 100%);
    margin-top: -150px;
    height: 150px;
    width: 100vw;
    content: '';
} */



 .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
 .nav-links > a {
    color: gold;
    font-size: 100%;
    
}
 .nav-links> a:hover {
    color: white;

}





.main-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.big-buttion,
.big-buttion-input {
     width: 77.45%;
     margin: 8px;
     /* font-weight: 400; */
     padding: 15px 20px;
     font-family: Arial,
         Helvetica,
         sans-serif;
     border: 1px solid #ccc;
     border-radius: 7px;
     height: 20px;
     color: rgb(145, 145, 145);
     background-color: rgb(65, 97, 255);
     font-size: 100%;
     padding-bottom: 30px;
     margin-left: 10.2%;
 }


.main-bottion-black {
    /* position: absolute;
    top: 30px;
    right: 50px; */
    display: flex;
    justify-content:center ;
    cursor: pointer;
    width: 5%;
    margin: 8px;
    padding: 14px 8px;
    font-family: Arial,
    Helvetica,
    sans-serif;
    border: 1px solid #ccc;
    border-radius: 7px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;

}
.reg-buttion {
    width: 20%;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    cursor: pointer;
    background: rgb(65, 97, 255);
    border-radius: 5px;
    padding: 15px 20px;
    text-decoration: none;
}






.big-buttion:hover ,.big-buttion-input:hover{
     color: white;
 }

.sign_up_form , .login_form {
     display: flex;
     justify-content: space-evenly;
     flex-direction: column
    
 }

 .big-input, .login-input {
    width: 40%;
    padding: 12px 12px;
    margin: 8px;
    text-align: start;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #ccc;
    border-radius: 7px;
    height: 20px;
    color: rgb(145, 145, 145);
    background-color: rgb(245, 245, 245);
    margin-left: 25%;
    margin-right: 5%;
    transition: border-color 2s;
 }
 .big-input:hover{
     border-color: aqua;
 }


 .login-input:hover {
     border-color: aqua;
 }

 .login-input{
     width: 40%;
    margin-left: 25%;
 }

 .big-buttion,
 .big-buttion-input {
    width: 40%;
    margin-left: 25.85%;
 }


 .formH2 {
    width: 40%;
    margin-left: 34.85%;
 }



 .a1{
     display: flex;
     padding-left: 35%;
     padding-right: 25%
 }
 .a11{
     display: flex;
     flex-direction: column;
     padding-left: 35%;
     padding-right: 25%
 }


 .nav-bar {
     background-color: white;
     display: flex;
     align-items: stretch;
     justify-content: space-between;
     height: 100px;
     border-bottom:1px solid rgb(121, 121, 121);
 }

.logo > img {
    width: 50%;
    max-width: 400px;
    max-height: 150px;
}

.main-logo img {
        width: 50%;
        max-width: 400px;
        max-height: 150px;

}

.logo img:hover {
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
 }

/* .splash {
     background-color: gray;

 } */
//  .main{
//      display: flex;
//      width: 100%
//  }

.main-hall-as{
//     position: relative;
//     left: 0;
//     // display: flex;
//     width: 100%;
//     transition: all .5s ;
    position: relative;
    left: 0;
    width: 100%;
    display: block;
    transition: all 0.5s;
    // position: fixed;
    right: 0;
 }

// .main-hall-as{
//     /* position: relative; */
//     left: 0;
//     width: 100%;
//     display: block;
//     transition: all 0.5s ease-in-out;
//     right: 0;
//     /* position: fixed;*/
// }

 .move{
    // position: relative;
    // transition: all .5s ;
    // left: 250px;
    position: relative;
    transition: all 0.5s;
    left: 250px;
    /* display: block; */
    position: fixed;
    right: 0;
    //  width: 100%;
 }

//  .move{
//     position: relative;
//     transition: all 0.5s ease-in-out;
//     left: 250px;
//     /* display: block; */
//     position: fixed;
//     right: 0;
//  }


 .buttion{
     height: 20%;
 }


 .footer {
    width: 100%;
    height: 40%;
    min-height: 50px;
    color: white;
    padding: 40px 10px;
    background: rgb(71, 71, 71);
    display: flex;
    justify-content: space-evenly;
    text-align: -webkit-left;
 }

 .footer-img{

 }
 .errors{
     color: red;
     font-size: 20px;
 }
 .g-signin2{
     width: 200px;


 }
.hero-con{
      text-align: center;
      color: white;
      width: 80%;
      color: #fff;
      font-weight: bold;
}
.hero-con > section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sec1 , .sec2{
    background-color: white,
}

.sec1 section{
    text-align: center;
}
.sec1 p{
    font-size: 17px;
    font-family: sans-serif;
    padding: 50px;
    line-height: 30px;
    text-align: initial;
}

.sec2{
    
}
.sec3 {
    background-color: rgb(243, 243, 243);
    margin-bottom: 5%;
    padding: 50px 10%;
    padding-bottom: 15%;
    
}
.sec3 th ,td{
    padding: 20px;
    background-color: #fff; 
    border: 2px solid lightgrey;
}
.grid-white>tbody>tr{
    background-color: white;
}

.no-style {
    background-color: rgb(243, 243, 243);
    
}
.sec4{
    background-color: rgb(243, 243, 243);
    padding: 50px 10%;
}
.sec5{
background-color: white;
padding: 50px 10%;
display: flex;
flex-direction: column;
align-items: center;
    
}
.sec5 h2{
    text-align: center;
    
}
.sec5 p{
        font-size: 16px;
        line-height: 25px;
        margin: 20px 0px;
        padding-bottom: 5%;
    
}
.sec6{
background-color: white;
padding: 50px 10%;
display: flex;
flex-direction: column;
align-items: center;
    
}
.sec6 h2{
    text-align: center;
    
}
.sec6 p{
    font-size: 16px;
    line-height: 25px;
    margin: 20px 0px;
    padding-bottom: 5%;
    
}


@media only screen and (max-width: 600px) {
    .sec3 {
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .sec4 {
        display: none;
    }
}


.hero-con h1 {
    font-size: 50px;
    margin: 10px 0;
}


.or{
    margin: 0 10px;
}
.testimonial{
    color: #fff;
}
.switch{
    display: flex;
    justify-content: space-evenly;
}

.switch-to{
    box-sizing: border-box;
    border-left: 2px solid;
    padding-left: 15px;
    border-color: rgb(65, 97, 255);
    color: rgb(65, 97, 255);
}
p {
    color: inherit
}
#plans td{

}

.switch-img {
    width: 50%;
    height: 40vh;

}
#plan-school{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* td{
    transition: border-color 1s;
}

td:hover {
    border-color: aqua;
} */

#td-no{
    border: none;
    background-color: inherit;
}


/* .gray {
    background-color: rgb(243, 243, 243);
    padding: 50px 10%;
}

.white {
    background-color: white;
    padding: 50px 10%;

} */
.switch-img-long{
    width: 100%;
    margin-top: 15%;


}
.bottem-img{
    width: 100%;
    box-shadow: 10px 10px 20px rgb(70, 70, 70);
    margin-bottom: 10%;
}
.logo-footer{

}

#almost-done{
    display: flex;
    margin: 20% 0;
}


.background-loading{
    background-color: #818181 !important
}


/* nav */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color:white;
    // border: 5px solid black;
    overflow-x: hidden;
    transition: 0.5s;
    // padding-top: 60px;
    overflow: scroll;
}

.sidenav-togle {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:white;
    // border: 5px solid black;
    overflow-x: hidden;
    transition: 0.5s;
    // padding-top: 60px;
    overflow: scroll;
}
/* nav */
.sidenav1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:darkgray;
    // border: 5px solid black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow: scroll;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}



.hall_nav{
    display: flex;
    justify-content: flex-end;
}
.main_task_part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // overflow: scroll;
}