/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.big-buttion,
.big-buttion-input {
     width: 77.45%;
     margin: 8px;
     /* font-weight: 400; */
     padding: 15px 20px;
     font-family: Arial,
         Helvetica,
         sans-serif;
     border: 1px solid #ccc;
     border-radius: 7px;
     height: 20px;
     color: rgb(145, 145, 145);
     background-color: rgb(65, 97, 255);
     font-size: 100%;
     padding-bottom: 30px;
     margin-left: 10.2%;
 }


.big-buttion:hover ,.big-buttion-input:hover{
     color: white;
 }

.sign_up_form , .login_form {
     display: flex;
     justify-content: space-evenly;
     flex-direction: column
    
 }

 .big-input, .login-input {
    width: 40%;
    padding: 12px 12px;
    margin: 8px;
    text-align: start;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #ccc;
    border-radius: 7px;
    height: 20px;
    color: rgb(145, 145, 145);
    background-color: rgb(245, 245, 245);
    margin-left: 25%;
    margin-right: 5%
 }

 .login-input{
     width: 40%;
    margin-left: 25%;
 }

 .big-buttion,
 .big-buttion-input {
    width: 40%;
    margin-left: 25.85%;
 }


 .formH2 {
    width: 40%;
    margin-left: 34.85%;
 }



 .a1{
     display: flex;
     padding-left: 35%;
     padding-right: 25%
 }
 .a11{
     display: flex;
     flex-direction: column;
     padding-left: 35%;
     padding-right: 25%
 }


 .nav-bar {
     background-color: white;
     display: flex;
     align-items: stretch;
     justify-content: space-between;
     height: 100px;
     border-bottom:1px solid rgb(121, 121, 121);
 }

.logo,img {
    width: 50%;
    max-width: 400px;
    max-height: 150px;
}

.logo img:hover {
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
 }

.splash {
     background-color: gray;

 }
 .main{
     display: flex;
     width: 100%
 }
 .buttion{
     height: 20%;
 }


 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 20%;
     background-color: black;
     color: white;
     text-align: center;
 };

 .footer-img{

 };

 .nav-links{
     color: #ccc

 };