.color1{
    background-color: white

    
}
.color2{
    align-content: center;
    display: flex;
    background-color: inherit;

}
.color2 button {
    height: 100%;

}
.color3{
    background-color: darkgreen

}
.color4{
    background-color: darkmagenta  

}
.color5{
    background-color: darkblue
}