.color1{
    background-color: darkblue

    
}
.color2{
    background-color: darkred

}
.color3{
    background-color: darkgreen

}
.color4{
    background-color: darkmagenta  

}
.color5{
    background-color: darkblue
}