.code{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

#task-new {
margin: 8px 52.35px 8px 261.8px;
width: 618px;
height: 483px;
}