.code-markDown > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    margin: 4% 20% 20% 20%;
}

.main_task_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    // overflow: scroll;
}
.main_task_part-first-div {
    width: inherit;
}

.main-hall-task-text{
    width: inherit;
}
.code-markDown{
    width: inherit;
    display: flex;
    justify-content: center;
    line-height: 1.5;
        
}
#Main > div{
    width: inherit;

}

.code-markDown p {
    text-align: center;
    margin: 3%;
    font-family: sans-serif;
    color: #06d5eff0;
    width: 70vw;
}