.profile-user{
    width: inherit;
    background: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.profile-user > h3{
    font-weight: 400
}
.profile-buttions{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}
.profile-buttions button{
    margin: 10px 15px;

}