.profile-user{
    width: inherit;
    background: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.profile-user > h3{
    font-weight: 400
}
.profile-buttions{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.profile-buttions button{
    // margin: 10px 15px;

}


// @media screen and (min-width: 700px) {
//     .profile-user {
//       flex-direction: column;
//         height: 8vh;
//         display: none

//     }
//     .profile-user > h3 {
//       flex-direction: column;
//         height: 8vh;
//         font-size: -webkit-xxx-large;
//         display: none

//     }
//     .the_nav{
//         height: 15vh;
//         display: none

//     }
//     .open_bar > img {
//         height: 54%;
//         display: none

//     }
//     .Course-Outline{
//         font-size: xx-large;
//         width: 20vw;
//         display: none

//     }
//     .color2 button{
//         font-size: xx-large;
//         display: none

//     }
//     .color2 button > img{ 
//         height: 30%;
//         display: none

//     }
//     .nav-con-top{
//         height: 10vh;
//         font-size: xx-large;
//         display: none

//     }
//     .nav-buttion-sub {
//     margin: 9% 0;
//       height: 5vh;
//         display: none

//     }
//     .nav-buttion-sub > button {
//           width: 80%;
//         display: none

//     }
//     .hall_nav {

//         width: 60%;
//         display: none

//     }
// }

.user-but {
    padding: 0 10px;
    border-radius: 10%;
    border: 2px solid;
    background: #1464cb;
    color: white;
    overflow: hidden;
}
.user-but:hover {
    color: black
}

.bigInputProfile{
        width: 40%;
        padding: 12px 12px;
        margin: 8px;
        text-align: start;
        font-weight: 400;
        font-family: Arial,
        Helvetica,
        sans-serif;
        border: 2px solid #ccc;
        border-radius: 7px;
        height: 20px;
        color: #919191;
        background-color: whitesmoke;
        /* margin-left: 25%; */
        /* margin-right: 5%; */
        transition: border-color 2s;
}
.bigButtionProfile{
    width: 77.45%;
    margin: 8px;
    padding: 15px 20px;
    font-family: Arial,
    Helvetica,
    sans-serif;
    border: 1px solid #ccc;
    border-radius: 7px;
    height: 20px;
    color: #919191;
    background-color: #4161ff;
    font-size: 100%;
    padding-bottom: 30px;
}

.task-buttion-div {
    width: 60%;
    display: flex;
    justify-content: center;
}